.mycard{
  margin-top: 40px;
}
.subcard{
  padding: 20px;
  text-align: center;
  max-width: 800px;
  margin: 10px auto;
}

.subcardP{
  padding: 20px;
  max-width: 400px;
  text-align: center;
  margin: 10px auto;

}

